# Bundler output
dist

# Third party modules
node_modules

# VS Code configuration
.vscode

# Default environment variables
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
