extends layout.pug

block content
  main(class="HomePage")
    p Sharing music with other streaming services is hard. Share a Babol link instead.
    form(method="post", action="api/link")
      input(name="link", type="url", id="link", placeholder="Enter a music link", autofocus autocomplete="off")

