doctype html

html
  head
    title Babol
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ../../public/templates-bundle.css
    script
      include ../../public/templates-bundle.js
  body
    block content
